.coin-list__table-head {
    border: 1px solid #cbd5e0;
    border-bottom: none;
}
.table-head {
    th {
      padding: 1rem;
      text-align: right;
      font-weight: bold;
      font-size: 1rem;
  }
}